@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}


.box1 {
    width: 100%;
    height: 300px;
    background-color: rgb(64, 252, 252);
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    width: 70px;
    height: 30px;
    padding: 10px;

}

.txt1 {
    width: 200px;
    font-size: 30px;
    font-weight: 900;
    padding-left: 10px;
    padding-top: 30px;
}

.btn1 {
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 100;
}

.btn2 {
    margin-left: 10px;
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 100;
}

.btn1:hover {
    background-color: rgb(0, 105, 196);
}

.btn2:hover {
    background-color: rgb(0, 105, 196);
}

.img1 {
    margin-left: 330px;
    margin-top: -228px;
}

.box2 {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.txt2 {
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    height: 50px;
    padding-left: 60px;
    padding-top: 20px;
}


.txt3 {
    font-weight: 200;
    margin-left: 40px;
}

.txt4 {
    font-weight: 150;
    margin-left: 40px;
    margin-top: 5px;
}

.btn3 {
    margin-left: 30px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 100;
    border: none;
}


.btn3:hover{
    background-color: rgb(0, 105, 196);
}

.box3 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    box-sizing: border-box;
}

.img {
    position: relative;
    top: 50px;
    left: 430px;
}

.about {
    width: 50%;
    height: 300px;
}

.about2 {
    width: 50%;
    height: 300px;
    background: rgb(64, 252, 252);
}

.txt5 {
    font-weight: 400;
    margin: 60px 0px 0px -100px;
} 


.txt6 {
    font-weight: 200;
    font-size: 15px;
    margin-right: 130px;
    margin: 20px 80px 0px -100px;
}  

.btn4 {
    margin-left: -100px;
    margin-top: 30px;
    width: 100px;
    height: 25px;
    background-color: rgb(125, 119, 119);
    color: white;
    font-size: 10px;
    font-weight: 100;
    border: none;
}
.btn4:hover{
    background-color: rgb(0, 105, 196);
}

.box4 {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: row;
}

.body {
    margin: 40px 0px 0px 50px;
}

.txt7 {
    margin: 80px 0px 0px 100px;
    font-size: 50px;
    font-weight: 800;
    opacity: 0.8;
    width: 300px;
    height: 200px;
}

.box5 {
    width: 100%;
    height: 400px;
}

.btn5 {
    margin-left: -300px;
    margin-top: 280px;
    width: 100px;
    height: 25px;
    background-color: rgb(125, 119, 119);
    color: white;
    font-size: 10px;
    font-weight: 100;
    border: none;
}
.btn5:hover{
    background-color: rgb(0, 105, 196);
}

.box5 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.txt8 {
    width: 150px;
    height: 30px;
    font-size: 30px;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
}

.test {
    margin: 50px 0px  0px 70px;
}

.test2 {
    background: rgb(64, 252, 252);
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
}

.img2 {
    margin: 40px 0px 0px 40px;
}

.txt9 {
    margin: -40px 10px 0px 110px;
}

.txt10 {
    font-size: small;
    margin: 40px 10px 0px 40px;
}

.box6 {
    height: 350px;
    border: 1px solid black;
}

form {
    box-sizing: border-box;   
    margin: 10px 0px 0px 230px;
}

input[type],textarea{
    font-family: Poppins,sans-serif;
    border: none;
    font-size: 12px;
    margin-top: 12px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    width: 400px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: white;
}


.h2center {
    margin: 10px 0px 10px 80px;
}

.btn6 {
    box-sizing: border-box;
    margin-left: 150px;
    margin-top: 20px;
    padding: 5px;
    width: 80px;
    height: 32px;
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 100;
    border: none;
}
.btn6:hover {
    background-color: rgb(50, 255, 50);
}

.box7 {
    height: 300px;
    border: 1px solid black;
}